#main{
height:100%;
width:1000px;
margin:auto;


padding:10px 10px 10px 10px;
overflow-y: scroll;
}
#top{
height:10em;
width:60em;



border-radius:10px;
padding:10px 10px 10px 10px;
margin-bottom: 10px;
border:1px solid;
border-color: #fff;
}
/*###############################################*/
#leftme{

height:60em;
width:12em;

float:left;

border-radius:10px;
padding:10px 10px 10px 10px;
margin-right: 10px;
border:1px solid;
border-color: #fff;
}
/*###############################################*/
#rightme{
height:60em;
width:46em;
border:1px solid;
border-color: #fff;
margin-left: 14em;

border-radius:10px;
padding:10px 10px 10px 10px;

}


.loader{
	width: 100%;
	height: 20%;
	overflow-y:scroll;
	visibility: hidden;

}
.request{
	width: 100%;
	height: 20%;
	overflow-y:scroll;
	visibility: hidden;

}
#tt {
width: 100%;
}

.notifier{
	height: 5em;
	width: 10em;
	float: right;
	border-color: #fff;
	border:1px solid;
	overflow-y: scroll; 
	color: yellow;
	border-radius: 5px;
}

.info_mes{
height: 6em;
width: 40em;
border :1px solid;
border-color:#bcd;
margin: auto;
position: relative;
display: none;


border-radius: 5px; 
color: black;
font-weight: bold;
background-color: #bcd;
padding: 2px 2px 2px 2px;

}

#close_noti{
    display:block;
    float:right;
    width:30px;
    height:29px;
    background:url(../img_icon/del.png) no-repeat center center;
    background-size: 80%;
  

}
.inner_noti{
	height: 4em;
	width: 100%;
	float: left;
	overflow-y:scroll;
}